body .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
/* nav */
nav .nav-inner {
    background-color: green;
    /* debug */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    background-color: red;
    height: 100px;
    width: 100px;
    /* debug */
}

nav .login {
    background-color: red;
    height: 50px;
    width: 50px;
    /* debug */
}

/* links */
nav .links {
    background-color: red;
    /* debug */
}

nav .links ul {
    display: flex;
    flex-flow: row nowrap;
    
    padding-inline-start: 0;
    list-style: none;
}

nav .links li {
    width: 80px;
    height: 30px;
    /* debug */
}
/* /links */
/* /nav */
/* /header */