body .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
/* nav */
header nav .nav-inner {
    background-color: green;
    /* debug */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    background-color: red;
    height: 100px;
    width: 100px;
    /* debug */
}

header nav .login {
    background-color: red;
    height: 50px;
    width: 50px;
    /* debug */
}

/* links */
header nav .links {
    background-color: red;
    /* debug */
}

header nav .links ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    
    padding-inline-start: 0;
    list-style: none;
}

header nav .links li {
    width: 80px;
    height: 30px;
    /* debug */
}
/* /links */
/* /nav */

/* hero */
header .hero-container-wrapper {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: violet;
    /* debug */
}

header .hero-container-wrapper .hero-container {
    width: 500px;
    height: 200px;
    background-color: blue;
    /* debug */
}
/* /hero */
/* /header */

/* main */
main .sezione {
    height: 300px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: yellow;
    /* debug */
}

main .sezione figure {
    width: 300px;
    height: 200px;
    background-color: blue;
    /* debug */
}

main .sezione .sezione-inner {
    width: 300px;
    height: 200px;
    background-color: red;
    /* debug */
}

main .sezione.quattro {
    height: 700px;
    
    flex-flow: column nowrap;
}

main .sezione.quattro .sezione-inner {
    width: 400px;
    height: 100px;
    /* debug */
}

main .sezione.quattro figure {
    width: 400px;
    height: 300px;
    /* debug */
}

main .sezione.quattro .download {
    width: 400px;
    height: 100px;
    background-color: green;
    /* debug */
}
/* /main */

/* footer */
footer {
    padding: 50px;

    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    background-color: violet;
    /* debug */
}

/* links */
footer .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background-color: blue;
    /* debug */
}

footer .links .social {
    height: 100px;
    width: 200px;
    background-color: red;
    /* debug */
}

footer .links ul {
    list-style: none;
    padding-inline-start: 0;
}

footer .links ul li {
    height: 20px;
    width: 100px;
    background-color: green;
    /* debug */
}
/* /links */

footer hr {
    border: 5px solid red;
}

footer .signin-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: green;
    /* debug */
}

footer .signin-wrapper .logo {
    height: 30px;
    width: 60px;
    background-color: red;
    /* debug */
}

footer .signin-wrapper .singin {
    height: 30px;
    width: 60px;
    background-color: red;
    /* debug */
}
/* /footer */