body .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
/* nav */
header nav .nav-inner {
    background-color: green;
    /* debug */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav .logo {
    background-color: red;
    height: 100px;
    width: 100px;
    /* debug */
}

header nav .login {
    background-color: red;
    height: 50px;
    width: 50px;
    /* debug */
}

/* links */
header nav .links {
    background-color: red;
    /* debug */
}

header nav .links ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    
    padding-inline-start: 0;
    list-style: none;
}

header nav .links li {
    width: 80px;
    height: 30px;
    /* debug */
}
/* /links */
/* /nav */

/* hero */
header .hero-container-wrapper {
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: violet;
    /* debug */
}

header .hero-container-wrapper .hero-container {
    width: 500px;
    height: 200px;
    background-color: blue;
    /* debug */
}
/* /hero */
/* /header */